{% extends 'adminlte/lib/_main_sidebar.html' %}
{% load adminlte_helpers %}
{% load static %}

{% block logo %}
<a href="{% url 'dashboard:index' %}" class="brand-link">
    <img src="{%static 'base/parkir.png' %}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
    {% block logo_text %}<span class="brand-text font-weight-light">Smart Parkir </span>{% endblock %}
</a>
{% endblock %}

{% block user_panel %}
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="{% static 'base/user.jpg' size=100 %}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard:index' %}" class="d-block">{{user.username}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block nav_heading %}
MENU UTAMA
{% endblock %}

{% block nav_links %}
<li class="nav-item">
    <a href="{% url 'dashboard:index' %}" class="nav-link {% add_active 'dashboard:index' exact_match=True %}">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'cekin:index' %}" class="nav-link {% add_active 'cekin:index' %}">
        <i class="nav-icon fas fa-archway"></i>
        <p>Gerbang Masuk</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'cekin_paraller:index' %}" class="nav-link {% add_active 'cekin_paraller:index' %}">
        <i class="nav-icon fas fa-archway"></i>
        <p>Gerbang Paraller</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'cekout:index' %}" class="nav-link {% add_active 'cekout:index' %}">
        <i class="nav-icon fas fa-archway"></i>
        <p>Gerbang Keluar</p>
    </a>
</li>
<li class="nav-item has-tree-view ">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-parking"></i>
        <p>Parkir</p>
        <p><i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview menu-open">
        <li class="nav-item">
            <a href="{% url 'parkir:titik' %}" class="nav-link {% add_active 'parkir:titik' %}">
                <i class="nav-icon fas fa-map-marker-alt"></i> Titik Parkir
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'parkir:cari_mobil' %}" class="nav-link {% add_active 'parkir:cari_mobil' %}">
                <i class="nav-icon fas fa-search-location"></i> Cari Mobil
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'parkir:parkir_kosong' %}" class="nav-link {% add_active 'parkir:parkir_kosong' %}">
                <i class="nav-icon fas fa-search"></i> Cari Tempat Kosong
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="{% url 'mobil:index' %}" class="nav-link {% add_active 'mobil:index' %}">
        <i class="nav-icon fas fa-car-side"></i>
        <p>Data Mobil</p>
    </a>
</li>
{% endblock nav_links %}