{% extends 'adminlte/lib/_main_header.html' %}
{% load static %}

{% block nav_bar_center %}

{% endblock %}

{% block nav_custom_menu %}
<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
    <ul class="nav navbar-nav">
        <a class="btn btn-primary" href="{% url 'logout' %}" role="button"> Logout <i class="nav-icon fas fa-door-open"></i> </a>
    </ul>
</ul>
{% endblock nav_custom_menu %}