{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form method="post" class="login100-form validate-form" action="{% url 'login' %}">

                    {% csrf_token %}
                    <span class="login100-form-title p-b-33">
                        Login Petugas Parkir
                    </span>

                    {% if form.non_field_errors %}
                    <div class="alert alert-warning" role="alert">
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if next %}
                    <p>Akses di tolak, anda harus login terlebih dahulu</p>
                    {% endif %}


                    <div class="wrap-input100 validate-input">
                        {% render_field form.username class="input100" placeholder="Username" %}
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                        {% render_field form.password class="input100" placeholder="Password" %}
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-20">
                        <input class="login100-form-btn" type="submit" value="login">
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>
</body>

</html>

</html>