{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content_title %}
<h4><b>Cek-Out Kendaraan</b></h4>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Data Mobil Keluar
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary btn-block js-atur-harga"
                        data-url="{% url 'cekout:atur_harga' %}">Atur Harga</button>
                </li>
                <li class="list-group-item">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Masukan plan nomor kendaraan</label>
                            <div class="row">
                                <div class="col-8">
                                    <input type="text" class="form-control" id="cari_mobil_keluar">
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-primary js-mobil-cekout"
                                        data-url="{% url 'cekout:image' %}">Cari</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            Cek-in
                        </div>
                        <div class="col-8">
                            <h6 id="val_cekin"></h6>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            Cek-out
                        </div>
                        <div class="col-8">
                            <h6 id="val_cekout"></h6>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-primary" role="alert">
                                <h2 id="val_tarif">Tarif</h2>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="mobil-selesai"
                                class="btn btn-primary btn-md btn-block js-mobil-selesai"
                                data-url="{% url 'cekout:selesai' %}">
                                Selesai
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8">
        <div class="card text-center">
            <div class="card-header">
                <b>Gambar Kendaraan</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <img id="mobil-keluar-Frame" class="frame_gerbang" alt="Mobil Keluar"
                        data-url="{% url 'cekout:image' %}">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-mobil-keluar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proses mencari data mobil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4> Proses sedang berjalan mohon tunggu </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-harga">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    var loadForm = function () {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-harga").modal("show");
            },
            success: function (data) {
                $("#modal-harga .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function () {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    $("#modal-harga").modal("hide");
                    $("#modal-mobil-keluar").modal("show");
                    $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Data tarif berhasil di ubah </h4>');
                }
                else {
                    $("#modal-harga .modal-content").html(data.html_form);
                    $("#modal-mobil-keluar").modal("show");
                    $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Data yang di Inputkan tidak valid </h4>');    
                }
            }
        });
        return false;
    };

    // Atur Harga
    $(".js-atur-harga").click(loadForm);
    $("#modal-harga").on("submit", ".js-atur-harga-form", saveForm);

    $.ajax({
        url: $("#mobil-keluar-Frame").attr('data-url'),
        type: 'GET',
        success: function (data) {
            if (data.data_is_valid == false) {
                $('#mobil-selesai').prop('disabled', true);
            }
            $("#mobil-keluar-Frame").attr("src", "data:image/jpeg;base64, " + data.img);
        }
    });

    var csrftoken = '{{csrf_token}}';
    $(".js-mobil-cekout").on('click', function () {
        var btn = $(this);
        var cari = $("#cari_mobil_keluar").val()
        if (cari === "") {
            $("#modal-mobil-keluar").modal("show");
            $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Input data tidak boleh kosong </h4>')
        } else {
            var data_plat = { plat: cari }
            $.ajax({
                url: btn.attr("data-url"),
                data: data_plat,
                type: 'post',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (data.data_is_valid == true) {
                        $('#mobil-selesai').prop('disabled', false);
                        var tarif = currency(data.tarif, { symbol: 'Rp.', decimal: ',', separator: '.' }).format(true);
                        $("#mobil-keluar-Frame").attr("src", "data:image/jpeg;base64, " + data.img);
                        $("#val_cekin").text(data.cek_in);
                        $("#val_cekout").text(data.cek_out);
                        $("#val_tarif").text(tarif);
                    } else if (data.cek_mobil == false) {
                        $("#modal-mobil-keluar").modal("show");
                        $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Mobil dengan plat nomor tersebut tidak ada</h4>')
                    }
                }
            });
        }
    });

    $(".js-mobil-selesai").on('click', function () {
        var btn = $(this);
        var cari = $("#cari_mobil_keluar").val()
        if (cari === "") {
            $("#modal-mobil-keluar").modal("show");
            $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Input data tidak boleh kosong </h4>')
        } else {
            var data_plat = { plat: cari }
            $.ajax({
                url: btn.attr("data-url"),
                data: data_plat,
                type: 'post',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (data.cek_mobil == false) {
                        $("#modal-mobil-keluar").modal("show");
                        $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Data plat nomor tidak sesuai </h4>')
                    } else {
                        $("#modal-mobil-keluar").modal("show");
                        $("#modal-mobil-keluar .modal-content .modal-body").html('<h4> Mobil dengan plat nomor ' + data.plat + ' telah meninggalkan parkiran </h4>')
                    }
                }
            });
        }
    });
</script>
{% endblock %}