{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content_title %}
<h4><b>Dashboard</b></h4>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-6">
        <div class="card">
            <div class="card-header">
                Video Tempat Parkir
            </div>
            <div class="card-body">
                <img src="{% url 'dashboard:video_ori' %}" alt="Parkiran">
            </div>
        </div>
    </div> -->
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Video Hasil Deteksi Kendaraan
            </div>
            <div class="card-body">
                <img src="{% url 'dashboard:video_tracking' %}" alt="Parkiran detek" id="img_track">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="mb-4">
            <button type="button" class="btn btn-primary btn-block js-atur-camera"
                data-url="{% url 'dashboard:atur_camera' %}">Atur Camera</button>
        </div>
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{kendaraan}}</h3>
                <p>Kendaraan</p>
            </div>
            <div class="icon">
                <i class="fas fa-car"></i>
            </div>
            <a href="{% url 'mobil:index' %}" class="small-box-footer">Info Lebih Lanjut <i
                    class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-gradient-success">
            <div class="card-header border-0">

                <h3 class="card-title">
                    <i class="far fa-calendar-alt"></i>
                    Calendar
                </h3>
                <!-- tools card -->
                <div class="card-tools">
                    <!-- button with a dropdown -->
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pt-0">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-dashboard">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proses Dashboard</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4> Proses sedang berjalan mohon tunggu </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-camera">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script>
    // The Calender
    $('#calendar').datetimepicker({
        format: 'L',
        inline: true
    });

    var loadForm = function () {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-camera").modal("show");
            },
            success: function (data) {
                $("#modal-camera .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function () {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    $("#modal-camera").modal("hide");
                    $("#modal-dashboard").modal("show");
                    $("#modal-dashboard .modal-content .modal-body").html('<h4> Data camera berhasil di ubah </h4>');
                }
                else {
                    $("#modal-camera .modal-content").html(data.html_form);
                    $("#modal-dashboard").modal("show");
                    $("#modal-dashboard .modal-content .modal-body").html('<h4> Data yang di Inputkan tidak valid </h4>');    
                }
            }
        });
        return false;
    };

    // Atur Camera
    $(".js-atur-camera").click(loadForm);
    $("#modal-camera").on("submit", ".js-atur-camera-form", saveForm);

</script>
{% endblock %}