<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'login' %}" type="button">login</a>
    <h2>coba index</h2> 
    <h3>{{user.username}}</h3>
</body>
</html>