{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

     <title>Aplikasi Parkir</title>
     <!-- 
Hydro Template 
http://www.templatemo.com/tm-509-hydro
ty
-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'landing_page/css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'landing_page/css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'landing_page/css/templatemo-style.css' %}">
</head>

<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="#home" class="navbar-brand">Smart Parkir</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#cari_mobil" class="smoothScroll">Cari Kendaraan</a></li>
                         <li><a href="#tempat_kosong" class="smoothScroll">Cari Tempat Kosong</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li class="section-btn"><a href="{% url 'login' %}" type="botton">Login Admin</a></li>
                    </ul>
               </div>
          </div>
     </section>


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>Aplikasi Parkir Mobil Berbasis Website.</h1>
                              <a href="#cari_mobil" class="btn section-btn smoothScroll">Cari Kendaraan</a>
                              <a href="#tempat_kosong" class="btn section-btn smoothScroll">Temukan parkir kosong</a>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- CARI MOBIL -->
     <section id="cari_mobil" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>Cari Kendaraan Anda</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p>Fitur ini dapat menemukan lokasi kendaraan anda dengan menggunakan plat nomor kendaraan
                                   anda.</p>
                              <p> Kendaraan anda harus dalam keadaan terparkir di titik parkir dan kendaraan tersebut
                                   masih berada di dalam tempat parkir.</p>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                         <div class="about-info skill-thumb">

                              <strong>Plat Nomor</strong>
                              <div class="row">
                                   <div class="col-md-9 col-sm-6">
                                        <input type="text" id="cari_kendaraan" class="form-control" required>
                                   </div>
                                   <div class="col-md-3 col-sm-6">
                                        <button type="button" class="btn btn-info js-cari-mobil"
                                             data-url="{% url 'parkir:cari_kendaraan' %}">Cari</button>
                                   </div>
                              </div>
                              </br>
                              <strong>Waktu Cekin</strong>
                              <ul class="list-group">
                                   <li id="wk_cekin" class="list-group-item">-----------</li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-5 col-sm-6">
                         <div class="section-title">
                              <h2>Denah Parkir</h2>
                         </div>
                         <div class="about-image">
                              <img id="img-mobil" src="{% static 'mobil/denah.png' %}" alt="cari_kendaraan"
                                   width="400px" height="300px">
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- CARI TEMPAT KOSONG -->
     <section id="tempat_kosong" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <div class="section-title">
                                   <h2>Cari Tempat Kosong</h2>
                                   <span class="line-bar">...</span>
                              </div>
                              <p>Fitur ini dapat menemukan lokasi titik parkir yang terisi dan yang masih kosong.</p>
                              <p> Titik berwarna merah merupakan titik parkir yang sudah terisi.</p>
                              <p> Titik berwarna hijau merupakan titik parkir yang belum terisi.</p>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="section-title">
                              <h2>Denah Parkir</h2>
                         </div>
                         <div class="about-image">
                              <img src="{% static 'mobil/parkiran.jpg' %}"
                                   data-url="{% url 'parkir:img_tempat_kosong' %}" id="tempat_kosong_lp" alt="parkiran"
                                   width="400px" height="300px">
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info">
                              <h2>Aplikasi Parkir</h2>
                              <p>Aplikasi ini hanya dapat digunakan pada penguna tempat parkir tersebut.</p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="https://www.polindra.ac.id/">Polindra</a></li>
                                   <li><a href="https://ti.polindra.ac.id/">TI Polindra</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                         <div class="footer-thumb">
                              <h2>Find us</h2>
                              <p>jl. lohbener lama No.08, Legok,</br> Kec. Lohbener,</br> Kabupaten Indramayu,</br> Jawa
                                   Barat 45252</p>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text">
                                        <p>Copyright &copy; 2017 Your Company</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact">
                                        <p>Call me <span>0877 8431 9090</span></p>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

     <div class="modal fade" id="modal-cari">
          <div class="modal-dialog">
               <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title">Proses mencari data mobil</h4>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
                    <div class="modal-body">
                         <h4> Proses sedang berjalan mohon tunggu </h4>
                    </div>
               </div>
          </div>
     </div>

     <!-- SCRIPTS -->
     <script src="{% static 'landing_page/js/jquery.js' %}"></script>
     <script src="{% static 'landing_page/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'landing_page/js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'landing_page/js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'landing_page/js/smoothscroll.js' %}"></script>
     <script src="{% static 'landing_page/js/custom.js' %}"></script>
     <script>
          $.ajax({
               url: $("#tempat_kosong_lp").attr('data-url'),
               type: 'GET',
               success: function (data) {
                    $("#tempat_kosong_lp").attr("src", "data:image/jpeg;base64, " + data.img);
               }
          });

          var csrftoken = '{{csrf_token}}';
          $(".js-cari-mobil").on('click', function () {
               var btn = $(this);
               var cari = $("#cari_kendaraan").val()
               if (cari === "") {
                    $("#modal-cari").modal("show");
                    $("#modal-cari .modal-content .modal-body").html('<h4> Input data tidak boleh kosong </h4>')
               } else {
                    var data_plat = { plat: cari }
                    $.ajax({
                         url: btn.attr("data-url"),
                         data: data_plat,
                         type: 'post',
                         headers: {
                              "X-CSRFToken": csrftoken
                         },
                         success: function (data) {
                              if (data.cek_mobil == false) {
                                   $("#modal-cari").modal("show");
                                   $("#modal-cari .modal-content .modal-body").html('<h4> Mobil tidak ditemukan </h4>')
                              } else {
                                   $("#img-mobil").attr("src", "data:image/jpeg;base64, " + data.img);
                                   $("#wk_cekin").text(data.cek_in);

                              }
                         }
                    });
               }
          });
     </script>

</body>

</html>