{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block content_title %}
<h4><b>Cari Kendaraan</b></h4>
{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="card text-center">
                            <div class="card-header">
                                Keterangan Gambar
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Masukan plan nomor kendaraan</label>
                                            <div class="row">
                                                <div class="col-8">
                                                    <input type="text" class="form-control" id="cari_kendaraan">
                                                </div>
                                                <div class="col-4">
                                                    <button type="button" class="btn btn-primary js-cari-mobil"
                                                        data-url="{% url 'parkir:cari_kendaraan' %}">Cari</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item">Titik biru adalah letak mobil anda</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="width: 400px;">
                            <img id="img-mobil" class="card-img-top" alt="cari_parkir"
                                data-url="{% url 'parkir:cari_kendaraan' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cari">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proses mencari data mobil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4> Proses sedang berjalan mohon tunggu </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function imgAjaxCari() {
        $.ajax({
            url: $("#img-mobil").attr('data-url'),
            type: 'GET',
            success: function (data) {
                $("#img-mobil").attr("src", "data:image/jpeg;base64, " + data.img);
            }
        });
    }
    imgAjaxCari()

    var csrftoken = '{{csrf_token}}';
    $(".js-cari-mobil").on('click', function () {
        var btn = $(this);
        var cari = $("#cari_kendaraan").val()
        if (cari === "") {
            $("#modal-cari").modal("show");
            $("#modal-cari .modal-content .modal-body").html('<h4> Input data tidak boleh kosong </h4>')
        } else {
            var data_plat = { plat: cari }
            $.ajax({
                url: btn.attr("data-url"),
                data: data_plat,
                type: 'post',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    if (data.cek_mobil == false) {
                        $("#modal-cari").modal("show");
                        $("#modal-cari .modal-content .modal-body").html('<h4> Mobil tidak ditemukan </h4>')
                    } else {
                        $("#img-mobil").attr("src", "data:image/jpeg;base64, " + data.img);
                    }
                }
            });
        }
    });
</script>
{% endblock %}