{% load adminlte_helpers i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block title_outer %}
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    {% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <link rel="shortcut icon" type="image/png" href="{%static 'base/parkir.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'datatables/datatables-bs4/css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/build/jquery.datetimepicker.min.css' %}" >
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">

    {% block body %}
    <div class="wrapper">
        {% block nav_header %}
        {% include 'adminlte/lib/_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
        {% include 'adminlte/lib/_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
        <div class="content-wrapper">
            {% block content_header %}
            <section class="content-header">
                {% block no_heading %}
                <h1>
                    {% block page_name %}{% endblock %}
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                    {% block no_description %}
                    <small>{% block page_description %}{% endblock %}</small>
                    {% endblock %}
                </h1>
                {% block breadcrumbs %}
                {# Breadcrumb implementation left to developers #}
                {% endblock %}
                {% endblock no_heading %}
            </section>
            {% endblock %}

            {% block content_outer %}
            <section class="content">
                {% block messages %}
                {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- interactive chart -->
                            <div class="card border-primary">
                                <div class="card-header">
                                    {% block content_title %}{% endblock %}
                                </div>
                                <div class="card-body">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </section>
            {% endblock %}

        </div>
        {% endblock content_wrapper %}

        {% block nav_footer %}
        {% include 'adminlte/lib/_main_footer.html' %}
        {% endblock %}

    </div>
    {% endblock body %}

    {% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <script src="{% static 'datatables/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="{% static 'qurency/currency.min.js' %}"></script>     
    <script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
    <script>

        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });

    </script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    {% block extra_foot %}{% endblock %}
</body>

</html>