{% load widget_tweaks %}

<form method="post" action="{% url 'parkir:ganti_gambar' %}" class="js-ganti-gambar-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Ganti gambar parkiran dan denah yang akan di olah</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="Awal">Gambar Parkiran</label> </br>
                    <img src="data:image/jpeg;base64, {{parkiran}}" alt="" id="displayParkiran" width="400" height="300"> 
                    <div class="mt-2">
                        <input type="file" name="img_awal" id="imageParkiran" onchange="encodeImgParkirantoBase64(this)">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Mobil">Gambar Denah</label> </br>
                    <img src="data:image/jpeg;base64, {{denah}}" alt="" id="displayDenah" width="400" height="300"> 
                    <div class="mt-2">
                        <input type="file" name="img_mobil" id="imageDenah" onchange="encodeImgDenahtoBase64(this)">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="convertParkiran" name="b64parkiran">
        <input type="hidden" id="convertDenah" name="b64denah">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Ganti</button>
    </div>
</form>