{% load widget_tweaks %}

<form method="post" action="{% url 'parkir:edit_posisi' form.instance.pk %}" class="js-posisi-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update Posisi Parkir</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group{% if form.nama.errors %} has-error{% endif %}">
            <label for="{{ form.nama.id_for_label }}">{{ form.nama.label }}</label>
            {% render_field form.nama class="form-control" %}
            {% for error in form.nama.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group{% if form.koordinat.errors %} has-error{% endif %}">
                    <label for="{{ form.koordinat.id_for_label }}">{{ form.koordinat.label }}(x,y) = <b id="text-posisi"></b></label>
                    {% render_field form.koordinat class="form-control" id="form-posisi"%}
                    {% for error in form.koordinat.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="col" style="width: 400px;">
                        <div id="image_preview">
                            <img src="data:image/jpeg;base64, {{parkiran}}" class="card-img-top">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group{% if form.koordinat_denah.errors %} has-error{% endif %}">
                    <label for="{{ form.koordinat_denah.id_for_label }}">{{ form.koordinat_denah.label }}(x,y) = <b id="text-posisi-denah"></b></label>
                    {% render_field form.koordinat_denah class="form-control" id="form-posisi-denah"%}
                    {% for error in form.koordinat_denah.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="col" style="width: 400px;">
                        <div id="image_preview_denah">
                            <img src="data:image/jpeg;base64, {{denah}}" class="card-img-top">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update Posisi</button>
    </div>
</form>