<form method="post" action="{% url 'parkir:delete_posisi' posisi.id %}" class="js-posisi-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Konfirmasi penghapusan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Apakah anda yakin menghapus titik parkir <strong>{{ posisi.nama }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete posisi</button>
    </div>
</form>