{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block extra_head %}
<style>
    #image_preview {
        position: relative;
        /* Add this since child are absolute! */
        background: #eee;
        cursor: crosshair;
    }

    #image_preview img {
        display: inline-block;
        vertical-align: top;
    }

    #image_preview_denah {
        position: relative;
        /* Add this since child are absolute! */
        background: #eee;
        cursor: crosshair;
    }

    #image_preview_denah img {
        display: inline-block;
        vertical-align: top;
    }

    .card-img-top {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    .circle {
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        /* use translate instead of JS calculations */
    }

    .radius {
        position: absolute;
    }
</style>
{% endblock %}

{% block content_title %}
<h4><b>Titik Parkir</b></h4>
{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-5">
        <div class="card" style="width: 400px;">
            <div class="card-header">
                <b>Semua Titik Parkir</b>
            </div>
            <img id="img-titik" class="card-img-top" alt="parkir" data-url="{% url 'parkir:image_titik' %}">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-md btn-block js-ganti-gambar"
                            data-url="{% url 'parkir:ganti_gambar' %}">Ganti Gambar <i
                                class="nav-icon fas fa-folder"></i></button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary btn-md btn-block js-create-posisi"
                            data-url="{% url 'parkir:create_posisi' %}">Tambah Titik <i
                                class="nav-icon fas fa-folder-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <b>Daftar Titik Parkir</b>
            </div>
            <div class="card-body">
                <table id="example_titik" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10%;">NO</th>
                            <th>Nama</th>
                            <th>Kordinat titik</th>
                            <th style="width: 30%;">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'parkir/titik/titik_list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-posisi">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-proses">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Proses Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function imgAjax() {
        $.ajax({
            url: $("#img-titik").attr('data-url'),
            type: 'GET',
            success: function (data) {
                $("#img-titik").attr("src", "data:image/jpeg;base64, " + data);
            }
        });
    }

    function table_data_titik() {
        $("#example_titik").DataTable({
            "lengthMenu": [[4, 8, 12, -1], [4, 8, 12, "All"]]
        });
    }


    function encodeImgParkirantoBase64(element) {

        var img = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            $("#convertParkiran").val(reader.result);

            $("#displayParkiran").attr("src", reader.result);
        }
        reader.readAsDataURL(img);
    }

    function encodeImgDenahtoBase64(element) {

        var img = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            $("#convertDenah").val(reader.result);

            $("#displayDenah").attr("src", reader.result);
        }
        reader.readAsDataURL(img);
    }

    var koordinat = "";
    var koordinat_denah = "";
    $(function () {
        table_data_titik();
        imgAjax();

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-posisi").modal("show");
                },
                success: function (data) {
                    koordinat = data.parkiran
                    koordinat_denah = data.denah
                    $("#modal-posisi .modal-content").html(data.html_form);
                    $("#form-posisi").hide();
                    $("#form-posisi-denah").hide();
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#modal-posisi").modal("hide");
                        $("#example_titik").DataTable().clear();
                        $("#example_titik").DataTable().destroy();
                        $("#example_titik tbody").html(data.html_titik_list);
                        table_data_titik();
                        imgAjax();
                    }
                    else {
                        $("#modal-posisi .modal-content").html(data.html_form);
                        $("#modal-proses").modal("show");
                        $("#modal-proses .modal-content .modal-body").html("<h5> Terdapat Kesalahan dalam pengisian form </h5>")
                    }
                }
            });
            return false;
        };

        // Ganti gambar
        $(".js-ganti-gambar").click(loadForm);
        $("#modal-posisi").on("submit", ".js-ganti-gambar-form", saveForm);

        // Create posisi
        $(".js-create-posisi").click(loadForm);
        $("#modal-posisi").on("submit", ".js-posisi-create-form", saveForm);

        // Update posisi
        $("#example_titik").on("click", ".js-update-posisi", loadForm);
        $("#modal-posisi").on("submit", ".js-posisi-update-form", saveForm);

        // Delete posisi
        $("#example_titik").on("click", ".js-delete-posisi", loadForm);
        $("#modal-posisi").on("submit", ".js-posisi-delete-form", saveForm);

        const $radius = 5;
        var titik = function (ev) {
            $('#image_preview').on('click', function (ev) {
                $("div").remove(".js-parkiran");
                const $this = $(this),
                    r = parseInt($radius, 10), // Parse as Integer radix 10
                    o = $this.offset(),
                    y = ev.pageY - o.top,
                    x = ev.pageX - o.left;

                $("<div />", {
                    "class": "circle js-parkiran",
                    "style": "background: rgba(255, 0, 0, 1) url(\"{% static 'base/dot.png' %}\") no-repeat 50% 50%",
                    css: {
                        top: y,
                        left: x,
                        width: r * 2,
                    },
                    height: r * 2,
                    appendTo: $this // append to #image_preview!
                });

                const $tx = Math.round(x)
                // Append data to App.points
                koordinat = $tx.toString() + ',' + y.toString()
                // App.points.push({ x, y, r });
                // Test
            });

            $('#image_preview_denah').on('click', function (ev) {
                $("div").remove(".js-denah");
                const $this = $(this),
                    r = parseInt($radius, 10), // Parse as Integer radix 10
                    o = $this.offset(),
                    y = ev.pageY - o.top,
                    x = ev.pageX - o.left;

                $("<div />", {
                    "class": "circle js-denah",
                    "style": "background: rgba(255, 0, 0, 1) url(\"{% static 'base/dot.png' %}\") no-repeat 50% 50%",
                    css: {
                        top: y,
                        left: x,
                        width: r * 2,
                    },
                    height: r * 2,
                    appendTo: $this // append to #image_preview!
                });

                const $tx = Math.round(x)
                // Append data to App.points
                koordinat_denah = $tx.toString() + ',' + y.toString()
                // App.points.push({ x, y, r });
                // Test
            });
            $('#text-posisi').text(koordinat)
            $('#form-posisi').val(koordinat)
            $('#text-posisi-denah').text(koordinat_denah)
            $('#form-posisi-denah').val(koordinat_denah)
        }
        $("#modal-posisi").click(titik);

    });


</script>
{% endblock %}