{% for data in posisi %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.nama }}</td>
    <td>{{ data.koordinat }}</td>
    <td>
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-warning btn-sm js-update-posisi"
                    data-url="{% url 'parkir:edit_posisi' data.id %}">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </div>
            <div class="col-8">
                <button type="button" class="btn btn-danger btn-sm js-delete-posisi"
                    data-url="{% url 'parkir:delete_posisi' data.id %}">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
            </div>
        </div>
    </td>
</tr>
{% endfor %}