<form method="post" action="{% url 'mobil:delete_kendaraan' kendaraan.id %}" class="js-kendaraan-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Konfirmasi penghapusan kendaraan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Kamu yakin ingin menghapus kendaraan dengan plat nomor <strong>{{ kendaraan.plat_nomor }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Delete Kendaraan</button>
    </div>
</form>