{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block content_title %}
<h4><b>Data mobil</b></h4>
{% endblock %}
{% block content %}
<!-- <div class="row">
    <div class="col 12 mb-4">
        <button type="button" class="btn btn-primary js-create-kendaraan"
            data-url="{% url 'mobil:create_kendaraan' %}">Tambah Mobil <i
                class="nav-icon fas fa-folder-plus"></i></button>
    </div>
</div> -->
<div class="row">
    <div class="col 12">
        <table id="example_mobil" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 3%;">NO</th>
                    <th>Plat Nomor</th>
                    <th>Waktu Cek-In</th>
                    <th>Waktu Cek-Out</th>
                    <th>Status Kendaraan</th>
                    <th>Status Parkir</th>
                    <th>Gambar Parkir</th>
                    <th style="width: 14%;">Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% include 'mobil/list.html' %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-kendaraan">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    function table_data_mobil() {
        $("#example_mobil").DataTable();
    }

    function dt_cek_in() {
        $('#id_cek_in').attr('autocomplete', 'off');
        $('#id_cek_in').inputmask("datetime",{
            mask: "1.2.y h:s",
            placeholder: "dd.mm.yyyy hh:mm",
            leapday: ".02.29",
            separator: ".",
            alias: "dd.mm.yyyy"
        });
        jQuery('#id_cek_in').datetimepicker({
            format: 'd.m.Y H:i',
            step: 1,
        });
    }

    function dt_cek_out() {
        $('#id_cek_out').attr('autocomplete', 'off');
        $('#id_cek_out').inputmask("datetime",{
            mask: "1.2.y h:s",
            placeholder: "dd.mm.yyyy hh:mm",
            leapday: ".02.29",
            separator: ".",
            alias: "dd.mm.yyyy"
        });
        jQuery('#id_cek_out').datetimepicker({
            format: 'd.m.Y H:i',
            step: 15,
        });
    }

    $(function () {
        table_data_mobil();

        var loadForm = function () {
            var btn = $(this);
            $.ajax({
                url: btn.attr("data-url"),
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-kendaraan").modal("show");
                },
                success: function (data) {
                    $("#modal-kendaraan .modal-content").html(data.html_form);
                    dt_cek_in();
                    dt_cek_out();
                }
            });
        };

        var saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    if (data.form_is_valid) {
                        $("#modal-kendaraan").modal("hide");
                        $("#example_mobil").DataTable().clear();
                        $("#example_mobil").DataTable().destroy();
                        $("#example_mobil tbody").html(data.html_kendaraan_list);
                        table_data_mobil();
                    }
                    else {
                        $("#modal-kendaraan .modal-content").html(data.html_form);
                        dt_cek_in();
                        dt_cek_out();
                    }
                }
            });
            return false;
        };


        /* Binding */

        // Create 
        $(".js-create-kendaraan").click(loadForm);
        $("#modal-kendaraan").on("submit", ".js-kendaraan-create-form", saveForm);

        // Update 
        $("#example_mobil").on("click", ".js-update-kendaraan", loadForm);
        $("#modal-kendaraan").on("submit", ".js-kendaraan-update-form", saveForm);

        // Delete 
        $("#example_mobil").on("click", ".js-delete-kendaraan", loadForm);
        $("#modal-kendaraan").on("submit", ".js-kendaraan-delete-form", saveForm);

        // Lihat parkir
        $("#example_mobil").on("click", ".js-lihat-parkir", loadForm);


    });
</script>

{% endblock %}