{% load widget_tweaks %}
<div class="modal-header">
    <h4 class="modal-title">Gambar Posisi Parkir</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <img src="data:image/jpeg;base64, {{gambar_parkir}}" class="card-img-top">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>