{% for mobil in kendaraan %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ mobil.plat_nomor }}</td>
    <td>{{ mobil.cek_in }}</td>

    {% if mobil.cek_out == "" %}
    <td>Belum Keluar</td>
    {% else %}
    <td>{{ mobil.cek_out }}</td>
    {% endif %}

    {% if mobil.status_kendaraan == True %}
    <td>Masuk</td>
    {% else %}
    <td>Keluar</td>
    {% endif %}

    {% if mobil.nama == None %}
    <td>Belum Terparkir</td>
    {% else %}
    <td>{{ mobil.nama }}</td>
    {% endif %}

    {% if mobil.nama == None %}
    <td>Belum Terparkir</td>
    {% else %}
    <td>
        <button type="button" class="btn btn-success btn-sm js-lihat-parkir"
            data-url="{% url 'mobil:lihat_parkir' mobil.id %}">
            <span class="glyphicon glyphicon-pencil"></span> Lihat
        </button>
    </td>
    {% endif %}
    <td>
        <button type="button" class="btn btn-warning btn-sm js-update-kendaraan"
            data-url="{% url 'mobil:edit_kendaraan' mobil.id %}">
            <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
        <button type="button" class="btn btn-danger btn-sm js-delete-kendaraan"
            data-url="{% url 'mobil:delete_kendaraan' mobil.id %}">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
    </td>
</tr>
{% endfor %}