{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block content_title %}
<h4><b>Cari Kendaraan</b></h4>
{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="card text-center">
                            <div class="card-header">
                                Keterangan Gambar
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Gambar Kondisi Kantong Parkar Terbaru </li>
                                <li class="list-group-item">Titik hijau adalah tempat parkir kosong dan titik merah
                                    adalah tempat parkir yang terisi</li>
                                <li id="jumlah_slot" class="list-group-item">jumlah = {{slot}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row justify-content-md-center">
                            <div class="card" style="width: 400px;">
                                <img id="parkir_kosong" class="card-img-top"
                                    alt="parkir" data-url="{% url 'parkir:img_tempat_kosong' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $.ajax({
        url: $("#parkir_kosong").attr('data-url'),
        type: 'GET',
        success: function (data) {
            $("#parkir_kosong").attr("src", "data:image/jpeg;base64, " + data.img);
            $("#jumlah_slot").text("Jumlah = "+data.slot+"")
        }
    });
</script>
{% endblock %}