{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Tugas akhir{% endblock %}

{% block extra_head %}
<style>
    .frame_gerbang_paraller {
        background: #cacaca;
        width: 500px;
        height: 500px;
        border: 1px solid black;
    }

    .selectiondiv {
        border: 2px solid white;
        background: rgb(224, 20, 47);
        opacity: 0.4;
        filter: alpha(opacity=40);
        margin: 0px;
        padding: 0px;
        display: none;
    }
</style>
{% endblock %}

{% block content_title %}
<h4><b>Cek-In Kendaraan</b></h4>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-7">
        <div class="card text-center">
            <div class="card-header">
                <b>Gambar Kendaraan</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div onmousedown="return false" id="YDR-Frame" class="frame_gerbang_paraller"
                        data-url="{% url 'cekin_paraller:image_gerbang' %}">
                        <div id="selection" class="selectiondiv"></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-primary btn-md btn-block js-create-gerbang"
                                    data-url="{% url 'cekin_paraller:image_tambah' %}" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Tambah Gambar
                                </button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-primary btn-md btn-block js-create-deteksi"
                                    data-url="{% url 'cekin_paraller:image_deteksi' %}" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Deteksi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="ocr_text" placeholder="Hasil Deteksi"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" id="simpan_data" type="button"
                                    data-url="{% url 'cekin_paraller:image_simpan' %}">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <b>Daftar Mobil Masuk</b>
            </div>
            <div class="card-body">
                <table id="example_gerbang" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10%;">NO</th>
                            <th>Plat Nomor</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'cekin_paraller/list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-gerbang">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="modal-proses">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proses menyimpan data mobil</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4> Proses sedang berjalan mohon tunggu </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    $.ajax({
        url: $("#YDR-Frame").attr('data-url'),
        type: 'GET',
        success: function (data) {
            if (data.form_is_valid == false) {
                $('.js-create-deteksi').prop('disabled', true);
                $('#ocr_text').prop('disabled', true);
                $('#simpan_data').prop('disabled', true);
            }
            $(".frame_gerbang_paraller").css("background-image", "url(data:image/jpeg;base64," + data.img + ")");
        }
    });

    // Click coordinates
    var x1, x2, y1, y2, WIDTH, HEIGHT;

    function table_data_gerbang() {
        $("#example_gerbang").DataTable({
            "lengthMenu": [[7, 14, 21, -1], [7, 14, 21, "All"]],
            "searching": false,
            "bInfo": false,
        });
    }
    table_data_gerbang();

    // Variable indicates wether a mousedown event within your selection happend or not
    var selection = false;

    // Global mouse button variables
    var gMOUSEUP = false;
    var gMOUSEDOWN = false;

    // Global Events if left mousebutton is pressed or nor (usability fix)
    $(document).mouseup(function () {
        gMOUSEUP = true;
        gMOUSEDOWN = false;
    });
    $(document).mousedown(function () {
        gMOUSEUP = false;
        gMOUSEDOWN = true;
    });

    // Selection frame (playground :D)
    $("#YDR-Frame").mousedown(function (e) {
        selection = true;
        // store mouseX and mouseY
        x1 = e.pageX - $(this).offset().left;
        y1 = e.pageY - $(this).offset().top;
    });

    // If selection is true (mousedown on selection frame) the mousemove 
    // event will draw the selection div
    $('#YDR-Frame').mousemove(function (e) {
        if (selection) {
            // Store current mouseposition
            x2 = e.pageX - $(this).offset().left;
            y2 = e.pageY - $(this).offset().top;

            // Prevent the selection div to get outside of your frame
            (x2 < 0) ? selection = false : ($(this).width() < x2) ? selection = false : (y2 < 0) ? selection = false : ($(this).height() < y2) ? selection = false : selection = true;;

            // If the mouse is inside your frame resize the selection div
            if (selection) {
                // Calculate the div selection rectancle for positive and negative values
                var TOP = (y1 < y2) ? y1 : y2;
                var LEFT = (x1 < x2) ? x1 : x2;
                WIDTH = (x1 < x2) ? x2 - x1 : x1 - x2;
                HEIGHT = (y1 < y2) ? y2 - y1 : y1 - y2;

                // Use CSS to place your selection div
                $("#selection").css({
                    position: 'relative',
                    zIndex: 5000,
                    left: LEFT,
                    top: TOP,
                    width: WIDTH,
                    height: HEIGHT
                });
                $("#selection").show();

                // Info output
                $('#status2').html('( X : ' + x1 + ' )  ( Y : ' + y1 + ' )  ( width : ' + WIDTH + ' )  ( height : ' + HEIGHT + ' ) ');
            }
        }
    });
    // Selection complete, hide the selection div (or fade it out)
    $('#YDR-Frame').mouseup(function () {
        selection = false;
        // $("#selection").hide();
    });
    // Usability fix. If mouse leaves the selection and enters the selection frame again with mousedown
    $("#YDR-Frame").mouseenter(function () {
        (gMOUSEDOWN) ? selection = true : selection = false;
    });
    // Usability fix. If mouse leaves the selection and enters the selection div again with mousedown
    $("#selection").mouseenter(function () {
        (gMOUSEDOWN) ? selection = true : selection = false;
    });
    // Set selection to false, to prevent further selection outside of your selection frame
    $('#YDR-Frame').mouseleave(function () {
        selection = false;
    });

    function encodeImgAwaltoBase64(element) {

        var img = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            $("#convertAwal").val(reader.result);

            $("#displayImgAwal").attr("src", reader.result);
        }
        reader.readAsDataURL(img);
    }

    function encodeImgMobiltoBase64(element) {

        var img = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            $("#convertMobil").val(reader.result);

            $("#displayImgMobil").attr("src", reader.result);
        }
        reader.readAsDataURL(img);
    }

    function encodeImgMobilParallertoBase64(element) {

        var img = element.files[0];

        var reader = new FileReader();

        reader.onloadend = function () {

            $("#convertMobilParaller").val(reader.result);

            $("#displayImgMobilParaller").attr("src", reader.result);
        }
        reader.readAsDataURL(img);
    }

    var loadForm = function () {
        var btn = $(this);
        $.ajax({
            url: btn.attr("data-url"),
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-gerbang").modal("show");
            },
            success: function (data) {
                $("#modal-gerbang .modal-content").html(data.html_form);
            }
        });
    };

    var saveForm = function () {
        var form = $(this);
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) {
                if (data.form_is_valid) {
                    $("#modal-gerbang").modal("hide");
                    $(".frame_gerbang_paraller").css("background-image", "url(data:image/jpeg;base64," + data.img + ")");
                    $('.js-create-deteksi').prop('disabled', false);
                }
                else {
                    $("#modal-gerbang .modal-content").html(data.html_form);
                    $("#modal-proses").modal("show");
                    $("#modal-proses .modal-content .modal-body").html('<h4> Terdapat kesalahan pada pengisian form </h4>')
                }
            }
        });
        return false;
    };

    // menambah gambar yang akan di olah
    $(".js-create-gerbang").click(loadForm);
    $("#modal-gerbang").on("submit", ".js-gerbang-create-form", saveForm);

    // lihat gambar
    $("#example_gerbang").on("click", ".js-lihat-mobil", loadForm);

    var csrftoken = '{{csrf_token}}';
    $(".js-create-deteksi").on('click', function () {
        var btn = $(this);
        if (x1 == null & y1 == null & WIDTH == null & HEIGHT == null) {
            $("#modal-proses").modal("show");
            $("#modal-proses .modal-content .modal-body").html('<h4> Data area seleksi tidak boleh kosong </h4>')
        } else {
            var titik = {
                x: x1,
                y: y1,
                width: WIDTH,
                height: HEIGHT
            }
            $.ajax({
                url: btn.attr("data-url"),
                data: titik,
                type: 'post',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    $("#ocr_text").val(data.text);
                    $('#ocr_text').prop('disabled', false);
                    $('#simpan_data').prop('disabled', false);
                }
            });
        }
    });

    $("#simpan_data").on('click', function () {
        var btn = $(this);
        var ocr = $("#ocr_text").val()
        if (ocr === "") {
            $("#modal-proses").modal("show");
            $("#modal-proses .modal-content .modal-body").html('<h4> Hasil mengenalan tidak ada, harap lakukan seleksi area lagi !!! </h4>')
        } else {
            var data_text = { text: ocr }
            $.ajax({
                url: btn.attr("data-url"),
                data: data_text,
                type: 'post',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                beforeSend: function () {
                    $("#modal-proses").modal("show");
                },
                success: function (data) {
                    if (data.cek_mobil == false) {
                        $("#modal-proses .modal-content .modal-body").html('<h4> Kendaraan dengan plat nomor tersebut sudah ada </h4>')
                    } else {
                        $("#example_gerbang").DataTable().clear();
                        $("#example_gerbang").DataTable().destroy();
                        $("#example_gerbang tbody").html(data.html_list);
                        table_data_gerbang();
                        $("#modal-proses").modal("hide");
                    }
                }
            });
        }
    });

</script>
{% endblock %}