{% for data in kendaraan %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ data.plat_nomor }}</td>
    <td>
        <button type="button" class="btn btn-success btn-sm js-lihat-mobil"
            data-url="{% url 'cekin:lihat_gambar' data.id %}">
            <span class="glyphicon glyphicon-pencil"></span> Lihat
        </button>
    </td>
</tr>
{% endfor %}