{% load widget_tweaks %}

<form method="post" action="{% url 'cekin:image_gerbang' %}" class="js-gerbang-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Tambah gambar yang akan di olah</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="Awal">Pilih gambar awal</label> </br>
            <img src="" alt="" id="displayImgAwal" width="100" height="100"> 
            <div class="mt-2">
                <input type="file" name="img_awal" id="img_awal" onchange="encodeImgAwaltoBase64(this)">
            </div>
        </div>
        <div class="form-group">
            <label for="Mobil">Pilih gambar mobil</label> </br>
            <img src="" alt="" id="displayImgMobil" width="100" height="100"> 
            <div class="mt-2">
                <input type="file" name="img_mobil" id="img_mobil" onchange="encodeImgMobiltoBase64(this)">
            </div>
        </div>
        <input type="hidden" id="convertMobil" name="b64mobil">
        <input type="hidden" id="convertAwal" name="b64awal">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </div>
</form>